
body,
.container,
ul,
li {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0;
}

li {
  margin: .5em;
  padding: .5em 1em;
  background: white;
  flex-direction: column;
}

.container {
  flex-direction: column;
}

.flag-and-country:hover {
  transform: scale(1.1);
  transition-duration: .3s;
}

.flag {
  width: 180px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #efefef;
}

.country-name {
  color: gray;
  font: 25px;
  text-transform: capitalize;
}

.austria {
  background:
    linear-gradient(180deg,
    #ED2939,
    #ED2939 calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    #ED2939 calc(100% / 3 * 2),
    #ED2939 100%);
}

.brazil {
  background:
    linear-gradient(149deg,
    #009B3A 30%, transparent 25%),

    linear-gradient(-149deg,
    #009B3A 30%,
    transparent 25%),

    linear-gradient(-30deg,
    #009B3A 30%,
    transparent 25%),

    linear-gradient(30deg,
    #009B3A 30%,
    transparent 25%),

    radial-gradient(90px at 50% 50%,
    transparent 0,
    transparent 35%,
    #FEDF00 35%,
    #FEDF00 100%),

    radial-gradient(180px at 40% 96%,
    transparent 0,
    transparent 35%,
    white 35%,
    white 39%,
    transparent 39%,
    transparent 100%),
    #002776;
  overflow: hidden;
}

.czech-republic {
  background:
    linear-gradient(146deg,
    #11457E 25%,
    transparent 15%) 0 -60px,

    linear-gradient(34deg,
    #11457E 25%, transparent 15%) 0 -60px,
    linear-gradient(to bottom,
    white 50%,
    #D7141A 50%);
  background-size: 180px 120px;
}

.france {
  background:
    linear-gradient(to right,
    #002395 calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    #ED2939 calc(100% / 3 * 2));
}

.germany {
  background:
    linear-gradient(to bottom,
    black calc(100% / 3),
    #DD0000 calc(100% / 3),
    #DD0000 calc(100% / 3 * 2),
    #FFCE00 calc(100% / 3 * 2));
}

.greece {
  background-image:
    repeating-linear-gradient(to bottom,
    #0D5EAF,
    #0D5EAF calc(120px / 9),
    white calc(120px / 9),
    white calc(120px / 9 * 2));
  position: relative;
}

.greece:before {
  position: absolute;
  content: "";
  width: calc(120px / 9 * 5);
  height: calc(120px / 9 * 5);
  background:
    linear-gradient(to bottom,
    transparent calc(120px / 9 * 2),
    white calc(120px / 9 * 2),
    white calc(120px / 9 * 3),
    transparent calc(120px / 9 * 3)),

    linear-gradient(to right,
    transparent calc(120px / 9 * 2),
    white calc(120px / 9 * 2),
    white calc(120px / 9 * 3),
    transparent calc(120px / 9 * 3)),
    #0D5EAF;
}

.ireland {
  background:
    linear-gradient(to right,
    #169B62 calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    #FF883E calc(100% / 3 * 2));
}

.italy {
  background:
    linear-gradient(to right,
    #009246 calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    #CE2B37 calc(100% / 3 * 2));
}


.norway {
  background:
    linear-gradient(to bottom,
    transparent 43%, #002868 43%,
    #002868 54%, transparent 54%),

    linear-gradient(to right,
    transparent 28%,
    #002868 28%,
    #002868 37%,
    transparent 37%),

    linear-gradient(to right,
    transparent 25%,
    white 25%,
    white 40%,
    transparent 40%),

    linear-gradient(to bottom,
    transparent 38%,
    white 38%,
    white 59%,
    transparent 59%),
    #EF2B2D;
}

.poland {
  background:
    linear-gradient(to bottom,
    white 50%,
    #DC143C 50%);
}

.republic-of-china {
  background: #FE0000;
  position: relative;
}

.republic-of-china:before {
  position: absolute;
  content: "✹";
  box-sizing: border-box;
  color: white;
  background: #000095;
  padding-left: 17px;
  margin-top: -7px;
  top: 0;
  width: 90px;
  height: 67px;
  font-size: 56px;
}

.republic-of-china:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid #000095;
  top: 20px;
  left: 30px;
}

.russia {
  background:
    linear-gradient(to bottom,
    white calc(100% / 3),
    #0039A6 calc(100% / 3),
    #0039A6 calc(100% / 3 * 2),
    #D52B1E calc(100% / 3 * 2));
}

.sweden {
  background:
    linear-gradient(to right,
    transparent 30%,
    #FECC00 30%,
    #FECC00 45%,
    transparent 0),

    linear-gradient(to bottom,
    transparent 38%,
    #FECC00 38%,
    #FECC00 59%,
    transparent 0),
    #006AA7;
}

.switzerland {
  background:
    linear-gradient(to bottom,
    transparent calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    transparent 0),

    linear-gradient(to right,
    transparent calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    transparent 0),
    #FF0000;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: 50px 20px;
}

.turkey {
  background:
    radial-gradient(77px at 40% 50%,
    #E30A17 35%, transparent 0),

    radial-gradient(90px at 36% 50%,
    white 30%, white 36%,
    transparent 0),
    #E30A17;
  position: relative;
}

.turkey:before {
  position: absolute;
  content: "★";
  left: 0;
  margin-left: auto;
  right: 0;
  margin-right: auto;
  font-size: 28px;
  color: white;
  text-align: center;
  top: 42px;
  left: 28px;
  transform: rotate(45deg);
}

.ukraine {
  background:
    linear-gradient(to bottom,
    #005BBB 50%,
    #FFD500 50%);
}

.the-united-kingdom {
  background: #00247D;
  background-size: 100px 100px;
  position: relative;
}

.the-united-kingdom:before {
  background:
    linear-gradient(to bottom,
    transparent 40%,
    #CC142B 40%,
    #CC142B 60%,
    transparent 60%),

    linear-gradient(to right,
    transparent 45%,
    #CC142B 45%,
    #CC142B 55%,
    transparent 55%),

    linear-gradient(to bottom,
    transparent 35%,
    white 35%,
    white 65%,
    transparent 65%),

    linear-gradient(to right,
    transparent 40%,
    white 40%,
    white 60%,
    transparent 60%),

    linear-gradient(146deg,
    transparent 50%,
    #CC142B 50%,
    #CC142B 53%,
    transparent 53%) -65px 45px,

    linear-gradient(146deg,
    transparent 50%,
    #CC142B 50%,
    #CC142B 53%,
    transparent 53%) 55px -45px,

    linear-gradient(34deg,
    transparent 50%,
    #CC142B 50%,
    #CC142B 53%,
    transparent 53%) -75px -43px,

    linear-gradient(34deg,
    transparent 50%,
    #CC142B 50%,
    #CC142B 53%,
    transparent 53%) 70px 46px,

    linear-gradient(146deg,
    transparent 45%,
    white 45%,
    white 55%,
    transparent 55%),

    linear-gradient(34deg,
    transparent 45%,
    white 45%,
    white 55%,
    transparent 55%);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 180px;
  height: 120px;
  background-repeat: no-repeat;
}
