<ul>
  <li *ngFor="let country of countries; let i = index" class="flag-and-country">
    <h2 class="country-name">{{i + 1}}. {{country | replace}}</h2>
    <div class="flag" [ngClass]="country"></div>
  </li>
</ul>
